@use "./variables";

@mixin Block($padding) {
    border-radius: 60px;
    box-shadow: 0 20px 10px rgb(0, 0, 0, 0.25);
    background-color: white;
    height: auto;
    margin: 58px 0;
    padding: $padding;
}

@mixin flexCenter($flexDirection, $justify-content) {
    display: flex;
    justify-content: center;
    flex-direction: $flexDirection;
    
}

.audience-block {
    @include Block(24px 40px);
    @include flexCenter(row, center);
    flex-wrap: wrap;
    gap: 10px;
    
    .audience-header-block {
        color: #FFFFFF;
        background-color: variables.$primaryColor;
        border-radius: 30px;
        align-items: center;
        display: flex;
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        
        p {
            font-size: 24px;
            margin-bottom: 0;
            font-family: variables.$fontFamily;
            font-weight: 550;
        }


    }
    form{
        
           label {
            color: variables.$primaryColor;
            margin: 0 10px;
           }
           input {
            accent-color: variables.$primaryColor;
            
           }
    }
    
}


.audience-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pair-column {
    grid-row: 1 / span 8; /* Займає весь стовпець */
    background: linear-gradient(180deg, #6a11cb, #2575fc); /* Вертикальний градієнт */
    color: white;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Відстань між парами */
    padding: 10px;
  }
  
  .pair-number {
    font-weight: bold;
    text-align: center;
  }
  
  .audiences {
    padding: 15px 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0 8px 8px 0;
  }
  
  .audience {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #e0e0ff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .no-audience {
    color: #ff0000;
  }
  
