@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.landing-title {
  font-weight: 800;
  font-size: 32px;
  color: #b878c5;
  pointer-events: none;
}

.primary-btn:hover {
  background-color: #fff;
  color: #b878c5;
}

.primary-btn:active {
  transform: translateY(5px);
}

.landing-p {
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
  pointer-events: none;
}

.primary-btn {
  border-radius: 60px;
  font-size: 18px;
  background-color: #b878c5;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 11px 50px;
  transition: all 0.5s;
  border: #b878c5 3px solid;
  text-decoration: none;
}

.icons-row {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 125px;
  padding-bottom: 30px;
  padding-top: 10px;
}
.icons-row li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
}

.icons-row svg {
  border: #b08ac7 15px solid;
  fill: #fff;
  border-radius: 100px;
  margin-bottom: 10px;
  background-color: #b08ac7;
  transition: all 0.3s ease-in-out;
}

.icons-row svg:hover {
  background-color: #fff;
  border: #fff 15px solid;
  fill: #b08ac7 !important;
}
.icons-row p {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #b08ac7;
  margin: 0;
}

.icons-row p span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #b08ac7;
}

.news {
  position: relative;
  height: 800px;
  margin-top: 76px;
}
