@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.header,
footer {
  background-color: #b878c5;
  z-index: 100;
}
header img {
  height: 20px;
}

.header-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  justify-content: center;
  transition: all 0.3s;

  cursor: pointer;
}

.header-nav {
  display: flex;
  flex-direction: row;
  padding: 12px 35px;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  width: 100vw;
  height: auto;
  align-items: center;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#footer-logo {
  cursor: pointer;
  text-align: center;
}

.footer__links {
  text-align: center;
  flex: 1;

  cursor: pointer;
}

.footer-link {
  margin: 0px 15px;
  text-decoration: none;
  color: #ffffff;
}

.footer__social-links {
  display: flex;
  justify-content: center;
}

.layout-content {
  flex: 1;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100vh;
  overflow-y: visible !important;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 50px;
  display: none;
  flex-direction: column;
  min-width: 180px;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
.dropdown-menu.show {
  display: flex;
}
.relative {
  position: relative;
}

.dropdown-item {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #000;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}
