.teacher-card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 40px 18px 20px;
  align-items: center;
  width: 400px;
  &:hover {
    transform: translateY(-5px);
  }

  .teacher-photo {
    height: 188px;
    width: 200px;
    overflow: hidden;
    // border: 4px solid #b878c5;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .teacher-info {
    width: 100%;
    h3 {
      margin: 0 0 8px;
      font-size: 16px;
      margin-top: 10px;
      font-style: normal;

      text-align: center;
      font-weight: 700;
      color: var(--accent-color);
    }

    .department {
      color: #d3acdb;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .position {
      color: #d3acdb;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .rating-section {
      // border-top: 1px solid #eee;
      padding-top: 5px;

      .your-rating,
      .average-rating {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: start;
        p {
          width: fit-content;
          padding-top: 6px;
          padding-right: 10px;
          height: 24px;
          margin: 0 0 5px;
          color: #b878c5;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .average-rating {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .rating-value {
          margin-left: 10px;
          font-weight: bold;
          color: #f8b500;
        }
      }
    }
  }
}
